<div>
  <h1>I'll be handling events and events emittions.</h1>
  <h1 *ngIf="showMessage">
    I am here because the condition says so, if I am not...
  </h1>
  <button (click)="handleShowMessage()" *ngIf="showMessage; else hideMessage">
    Hide message.
  </button>
  <ng-template #hideMessage>
    <button (click)="handleShowMessage()">Show hidden message</button>
  </ng-template>

  <h1>Receiving emisisons</h1>
  <span>Number: {{ disstressNumber }}</span>
  <br />

  <h1 *ngIf="distressMessage">
    I captured a an emission and this is the message: {{ distressMessage }}
  </h1>
  <app-change-number (changeNumber)="onChangeNumber($event)">
  </app-change-number>
  <app-disstress-beacon (Beacon)="onBeacon($event)"> </app-disstress-beacon>
</div>
